
.model-panel {position:relative;}
.model-panel dt {float:left;text-transform:uppercase;}
.model-panel dd {text-transform:uppercase;}

  .model-panel img.car {
    position:absolute;
    bottom:0px;
    right:0px;
    height:126px;
  }
  
  

  
#R61-header {
  background-image: url('/Public/img/m/v/R61/R61_header_bg.jpg');
  background-repeat: no-repeat;
}

#R61-gallery {width:100%;}

#R61-gallery #carousel-gallery,
#R61-variant #carousel-variant,
.model-panel .car-img {
  position:absolute;
  top:14px;
}

#R61-variant #carousel-variant {top: 28px;}

#R61-variant #carousel-variant .carousel-caption {
  position:absolute;
  left:12%;
  width:50%;
  top:0;
  text-align:left; 
}

.carousel-caption h3 {margin-top:0;}

.intro h3 {margin-top:0;margin-bottom:0;}
.intro h1 {margin-top:0;margin-bottom:0;color:#ff0000;}
.intro img.car {position:absolute;}

.in-page-nav {
  text-align:center;
  border-top: solid 1px #e60203;
  border-bottom: solid 1px #e60203;
  padding: 8px 0px;
}

  .in-page-nav ul {margin:0;}
  .in-page-nav ul li a {
    font-family:'MINITypev2HeadlineRegular';
    font-size:1.1em; 
    text-transform:uppercase;
    color:#ff0000;
   }
   
   .panel-title {
     width:100%;  
     border-bottom:solid 1px #3d3d3d;
     background:#1f1f1f;
     position:absolute;
     top:0;
     left:0;
     z-index:99;
    }  
    
    .panel-title h6 {margin-top:.65em;margin-bottom:.65em;float:left;}
    .highlight-dropdown {
      float:right;
      margin-right:5%;
      margin-top:4px;
    }
    
    .highlight-dropdown a {font-size:.83em;font-family: 'MINITypev2HeadlineRegular'; text-transform:uppercase;}
   .mr3em {margin-right:3em;}
   .ml3em {margin-left:3em;}

#R61-variant {
  height:180px;
}

#R61-highlights {
  height:180px;
  
  background-image: url('/Public/img/m/v/R61/R61_highlights_bg.jpg');
  background-repeat:no-repeat;
  background-position: top left;
  background-size: 100% 180px;
}
/* portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : portrait) { 
  .intro {width:160px;padding-left:15px;padding-top:20px;}
  .model-panel img.car {
    height:126px;
  }
  .modelbg-height {
    background-size: 100% 189px;
    width: 100%;height:189px;
  }
  
  #R61-gallery {height:195px;}
  #R61-variant {height:195px;}
  .model-height { height:180px; }  
  #R61-gallery .arrow {
    height:150px;
    vertical-align:middle;
  }
}

/*landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) { 
  .intro {
    width:320px;
    padding-left:30px;
    padding-top:50px;
  }
  
  .model-panel img.car {height:252px;}
  
  .modelbg-height {
    background-size: 100% 378px;
    width: 100%;
    height:378px;
  }
  
  .model-height {
    width: 100%;
    height:360px; 
  }  
  
  #R61-gallery {height:285px;}
  #R61-gallery .left-arrow img,
  #R61-gallery .right-arrow img {margin-top:100px;}
  
  #R61-variant {height:280px;background-size: 100% 280px;}
  #R61-highlights {height:280px;background-size: 100% 280px;}
  
}