<div class="contact-info">
    <h4>Parts & Service Center</h4>
    <address>
        790 Terminal Avenue<br />
        Vancouver, V6A 2M5<br />
    </address>
</div>
<div class="contact-hours">
    <h4>Parts & Service Hours: </h4>

 <table>
        <tbody>
            <tr>
                <td class="first">
                    Monday:
                </td>
                <td>
                    7:30am - 6:00pm
                </td>
            </tr>
            <tr>
                <td class="first">
                    Tuesday:
                </td>
                <td>
                    7:30am - 6:00pm
                </td>
            </tr>
            <tr>
                <td class="first">
                    Wednesday:
                </td>
                <td>
                    7:30am - 6:00pm
                </td>
            </tr>
            <tr>
                <td class="first">
                    Thursday:
                </td>
                <td>
                    7:30am - 6:00pm
                </td>
            </tr>
            <tr>
                <td class="first">
                    Friday:
                </td>
                <td>
                    7:30am - 5:30pm
                </td>
            </tr>
            <tr>
                <td class="first">
                    Saturday:
                </td>
                <td>
                    8:30am - 5:00pm
                </td>
            </tr>
            <tr>
                <td class="first">
                    Sunday:
                </td>
                <td>
                    Closed
                </td>
            </tr>
        </tbody>
    </table>
</div>
