<div class="modal fade" id="CCRCModal" tabindex="-1" role="dialog" aria-labelledby="CCRCModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:1190px !important;height:800px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><div class="close-text">@MINI.Resources.Forms.Index.CloseLbl</div>&times;</button>
                <h4>&nbsp;</h4>
            </div>
            <div class="modal-body" style="padding:0;"> 
                <iframe id="ccrcFrame" src="" width="1170" height="800" frameborder="0" border="0"></iframe>
            </div>
        </div>
    </div>
</div>