<div class="modal fade" id="Configurator" tabindex="-1" role="dialog" aria-labelledby="ConfiguratorLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:1176px !important;height:800px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><div class="close-text">@MINI.Resources.Forms.Index.CloseLbl</div>&times;</button>
                <h4>&nbsp;</h4>
            </div>
            <div class="modal-body"> 
                <iframe id="configFrame" src="" width="1170" height="726" frameborder="0" border="0" style="overflow-x:hidden"></iframe>
            </div>
            
        </div>
    </div>
</div>