@{
    ViewBag.Title = MINI.Resources.Shopping.SearchNew.PageTitle;
}

<div id="searchnew-intro" class="content-intro content-offset content-indent">
    <div id="next-ci" class="box white">
        <h1>@MvcHtmlString.Create(MINI.Resources.Shopping.SearchNew.PageTitle)</h1>
    </div>
</div>