@{
    Layout = "~/Views/Shared/_SettingsLayout.cshtml";
    ViewBag.Title = "Upgrade your browser.";
}
<h1 style="font-family:Helvetica, Arial">
    Hello There!</h1>
<p>
    And welcome to the 21st century! Let us give you a quick update: in a nutshell,
    a crazy contraption known as the “auto-ma-car” was invented, man has landed on the
    moon, the Berlin Wall fell, and Arnold Schwarzenegger was voted Governor of California
    for eight years.</p>
<p>
    Yes, a lot has changed in the last 100 years.</p>
<p>
    Another change is that faster, better web browsers have been invented. Unfortunately,
    the browser you are using is not compatible with the MINI Configurator and probably
    a load of other sites. It’s time for you to get with the times and update your browser.</p>
<p>
    See below for links to download newer browsers:</p>
<ul>
    <li><a href="https://www.google.com/intl/en/chrome/" target="_blank">Google Chrome</a></li>
    <li><a href="http://www.apple.com/safari/" target="_blank">Safari</a></li>
    <li><a href="http://getfirefox.com/" target="_blank">Firefox</a></li>
    <li><a href="http://windows.microsoft.com/en-us/internet-explorer/products/ie/home"
        target="_blank">Internet Explorer</a></li>
</ul>

    <p>
        The following are the MINIMUM BROWSER REQUIREMENTS:</p>
    <h3 style="font-family:Helvetica, Arial">
        Minimum Requirements</h3>
    <ul>
        <li>Google Chrome 10+</li>
        <li>Safari 5+</li>
        <li>Firefox 10+</li>
        <li>Internet Explorer 9+</li>
    </ul>
    <br />
    <p>
        Many Thanks,<br />
        -The MINI Team.</p>
