@{
    ViewBag.Title = @MINI.Resources.Discover.Heritage.PageTitle;
}

@{
    string url = "http://micro.mini.ca/timeline";
    if (MINI.App.CurrentUserLanguage.ToUpperInvariant() == "FR") {
        url = String.Concat(url, "/fr");
    }
}
<div id="mini-101" class="content-section content-offset content-indent" style="height: 1140px;">
    <iframe src="@url" width="1170" height="1140" style="background: #000000;"  frameborder="0" scrolling="no" style="padding-top:40px;">
    </iframe>
</div>
