@using Auto.Web.Resources

@{
    ViewBag.Title = Global.Home;
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                ASP.NET MVC lernen? Mehr Info hier: 
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
            </p>
        </div>
    </section>
}
<h3>Das ist nur ein Beispiel:</h3>

<p>
Deutsch: Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id porttitor nisl. Ut rhoncus accumsan urna, ac ullamcorper sapien mattis ut. Nam gravida viverra ultrices.
</p>
