@using Auto.Web.Resources

@{
    ViewBag.Title = Global.About;
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<article>
</article>

<aside>
    <h3>Title</h3>
    <p>
    </p>
    <ul>
        <li>@Html.ActionLink(Global.Home, "Index", "Home")</li>
        <li>@Html.ActionLink(Global.About, "About", "Home")</li>
        <li>@Html.ActionLink(Global.Contact, "Contact", "Home")</li>
    </ul>
</aside>
