<div id="specialoffer-nav" class="clearfix">
  <h4 class="pull-left"><a href="#" id="float-nav-top">@MINI.Resources.SpecialOffers.Index.PageTitle</a></h4>
  <ul class="nav nav-pills pull-right">
  @foreach (var item in Model) {
    <li><a href="#specialoffer-@item.CACode">@item.Vehicle.Name.Remove(0, 10)</a></li>
  }
  </ul>
</div>