 
/* ALL IE8 SPECIFIC STYLES */


/* SUBB NAV NEED SOME EXTRA SPACE */
.sub-navigation .navbar-subnav li { width : 95%; margin: 0px 28px 0px 28px;  }

.back-to-top{
   position:fixed; 
   _position:absolute;
   bottom : 0px;
   float : left;
   margin-left : 5%;
   display:none;
  }