.content-wrapper
{
    margin-top: 34px
}

/* common */
.clear
{
	clear:both;
}

/* body */

body{
	margin:0px auto;
	padding:5px;
	background:#dbdada;
	font: 12px Arial, Verdana, Tahoma, sans-serif;
}
img{border:none;}
form,fieldset{margin:0;padding:0;border:0;}
#page{	
	margin:0 auto;
	padding:0 0 45px;
	font-size:1.2em;
}

/* header */

#header{	
	float: left;	
	width: 100%;
	background-color: #fff;
}

#logo{
	float: left;
	margin: 0;
	color: #000000;
}

#headerlinks{
	float: right;
	margin: 0;
	padding: 10px 15px 0 0;
}

#headerlinks ul{	
	list-style:none;	
}
#headerlinks ul li{	
	display:inline;	
}
#headerlinks ul li a{	
	font-size:1em;
}

#headerlinks ul li a:hover{
	color:#0d74d3;
}
#headerlinks ul li.active{
	
}
#headerlinks ul li.active a,
#headerlinks ul li.active a:hover{	
	color:#0d74d3;	
}

h1{margin:0;}
h1  a{

}

/* navigation */

#headermenu ul{
	float:left;
	margin:0;
	padding: 5px 0 10px 0;
	list-style:none;
	background-color: #0d74d3;
	width: 100%;
	height: 20px;
}
#headermenu ul li{
	float:left;
	display:inline;
	margin:0 0 0 10px;	
	padding: 0 20px 0 0;
}
#headermenu ul li a{
	float:left;
/*	height:29px;
	padding:6px 10px 0 11px;*/
	font-size:1em;
	font-weight:bold;
	text-decoration:none;
	color:#fff;	
}
#headermenu ul li a:hover{
	color:#fff;
}
#headermenu ul li.active{
	
}
#headermenu ul li.active a,
#headermenu ul li.active a:hover{
	/*height:38px;*/
	color:#fff;	
}

/* content */

#content{
	width: 99%;
	float: left;
	padding: 5px;
	margin-top: 5px;
}

#leftNav{
	float: left;	
	width: 20%;
	height: 100%;
	border: 1px solid #fff;
	background-color: #fff;
	padding: 10px;
}

#rightContent{
	float: right;
	width: 75%;
	height: 100%;
	background-color: #fff;
	margin: 0 0 0 0px;
	padding: 10px 0 10px 10px;
}

/* footer */

#footer{
	width: 100%;
	float:left;	
	background-color: #0d74d3;
	margin-top: 25px;
    color:#fff;
    padding-bottom: 10px;
}

#footercopyright{
	float:left;
	margin:0;	
	padding: 15px 0 0 15px;	
}

#footerlinks {
	float: right;
	padding: 15px 0 0 10px;
	margin: 0;
}

#footerlinks ul{	
	display:inline;		
	list-style:none;
}
#footerlinks li{
	float:left;	
	padding: 0 10px;
	border-left:1px solid #fff;
}
#footerlinks ul a{
	color:#fff;
	position:relative;
}
#footerlinks a{
	text-decoration:none;
}
#footerlinks a:hover{
	text-decoration:underline;
}